/*background image settings*/
html {
    background: url(../images/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;
    flex: 1 0 auto;
}

.footer, .header{
    display: flex;
    justify-content: space-between;
}

.header {
    color: #000000;
    background-color: rgb(219, 235, 238, .5) ;
    font-weight: 600;
    align-items: center;
    margin-bottom: 7em;
 }

 .header-logo {
    display: flex;
    font-size: 24px;
}

.header-logo img{
    height: auto;
    width: 25px;
}

/*styling links, undelrining*/
a:hover, a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/*aligning the ultimate raid section*/

/*custom image for header links*/
.about {
    list-style-image: url(../images/note.gif);
    height: auto;
    width: 10px;

}
.raids, .classes {
    list-style-image: url(../images/sword.gif);
    height: auto;
    width: 10px;
}
.download {
    list-style-image: url(../images/star.gif);
    height: auto;
    width: 10px;
}

.left-links, .right-links{
    display:flex;
    list-style-type: none;
    align-self: center;
    padding-right: 5em;
    font-size: 1.1em;
    margin: 0;
  }

ul {
    gap: 6em;
    justify-content: space-between;
}
.info {
    font-family: Roboto;
    min-width: 250px;
    text-align: center;
    flex-direction: column;
    gap: 1em;
}

.ultimate-header-text, .raid-header-text {
    text-align: center;
    font-size: 33px;
    font-weight: 900;
    background-color: rgb(219, 235, 238, .5);
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0;
    border-radius: 25px 25px 0 0;
}

.container{
    display: flex;
    justify-content: center;
    background-color: rgb(219, 235, 238, .5);
    gap: 2em;
}
.container .text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.quote {
    display: flex;
    background-color: rgb(219, 235, 238, .5);
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    gap: 2em;
    border-radius: 0 0 25px 25px;
    margin-bottom: 50px;
}

/*For the Ultimate raid img sections*/
/*Rounded corner settings*/
.container img {
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    border: 5px solid rgb(219, 235, 238, .5);
    width: 200px;
    height: 125px;
}

.hero-content{
    display: flex;
    justify-content: center;
    margin-bottom: 7em;
}

.hero-container {
    display: flex;
    border-radius: 25px;
    background-color:  rgb(219, 235, 238,.6);
    padding: 0 .2em 0 0;
    gap: 3em;
    text-align: center;
    height: 400px;
    font-size: 20px;
    font-weight: 600;
}
.hero-content .hero-text {
    max-width: 600px;
    padding-top: .3em;
}
.hero-content .button{
    align-self: center;
    text-align: center;
    border-radius: 25px;
    background-color:rgb(219, 235, 238,.6) ;
    border: 3px solid white;
    font-size: 16px;
    display: inline-block;
    padding: 2em 1em;
    margin-top: 3em;
}

.footer {
    background-color: rgb(194, 194, 233,0.8);
    color:black;
    justify-content: center;
    margin-top: 15px;
}
.contact {
    display: flex;
    background-color: rgb(194, 194, 233, 0.5);
    justify-content: center;
}
.contact .text{
    display: flex;
    align-self: center;
    border-radius: 25px;
    padding: 3em 2em;
    white-space: pre-wrap;
}
.contact .button {
    align-self: center;
    border-radius: 25px;
    background-color:rgb(194, 194, 233,.6);
    border: 3px solid white;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    padding: 2em 1em;
    color: #000000;
}

a .button {
    display: flex;
    flex-direction: row;
}